@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("./assets/Franklin Gothic Medium Regular.ttf");
}
.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 100vh;
  width: 100%;
}
.login {
  display: flex;
  justify-content: flex-end;
  padding: 2vmax 3vmax 0vmax 3vmax;
  position: sticky;
  top: 0;
  z-index: 100;
}
.profile {
  display: flex;
  gap: 2vmin;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting {
  text-align: end;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans";
  font-size: 0.8vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.username {
  text-align: end;
  color: #000;
  font-family: "Open Sans";
  font-size: 1.25vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dp {
  width: 2.431vmax;
  height: 2.431vmax;
  border-radius: 50%;
  cursor: pointer;
  /* background: url("https://img.freepik.com/premium-photo/smart-handsome-man_995105-1856.jpg?w=360") lightgray 50% / cover no-repeat;
  background-size: 100% 100%; */
}
.dp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
}
.body {
  display: flex;
  flex: 1;
}
.content {
  padding: 3vmax 2vmax 0 5vmax;
  /* overflow-x: hidden; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3vmax;
  width: 0%;
}
.side-navbar {
  padding: 8vmax 0vmax 0 3vmax;
  display: flex;
  flex-direction: column;
  gap: 2.5vmax;
  position: sticky;
  top: 8.533vh;
  height: 70vh;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}
.dash-text {
  font-family: "Franklin Gothic Medium";
  font-size: 1vmax;
  color: #1479ff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}
.calender-text {
  font-family: "Franklin Gothic Medium";
  font-size: 1vmax;
  color: rgba(8, 13, 38, 0.65);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}
.history-text {
  font-family: "Franklin Gothic Medium";
  font-size: 1vmax;
  color: rgba(8, 13, 38, 0.65);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}
.profile-text {
  font-family: "Franklin Gothic Medium";
  font-size: 1vmax;
  color: rgba(8, 13, 38, 0.65);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showImg-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.showImg-text span {
  color: #fff;
  font-family: "Open Sans";
  font-size: 3.125vmax;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25vmax;
}
.token-img {
  position: relative;
  text-align: center;
}
.token-abs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* top: 28%;
  left: 33%; */
}
.your {
  color: #1479ff;

  font-family: "Open Sans";
  font-size: 0.833vmax;
  font-size: 1vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.067vmax;
  text-align: center;
}
.token-no {
  color: #1479ff;
  font-family: "Open Sans";
  font-size: 4.375vmax;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.35vmax;
  text-align: center;
}
.doctors {
  color: #000;
  font-family: "Open Sans";
  font-size: 2.222vmax;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.067vmax;
}
.nearest-doc {
  color: #7f7f7f;
  font-family: "Open Sans";
  font-size: 1vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.all-top-docs {
  display: flex;
  gap: 1.5vmax;

  padding: 1.5vmax 0.5vmax;

  overflow-x: scroll;
  overflow-y: hidden;

  width: 100%;
}
.all-top-docs::-webkit-scrollbar {
  display: none;
}
.view-all-doc {
  display: inline-flex;
  padding: 0.208vmax 0.972vmax;
  justify-content: center;
  align-items: center;
  gap: 0.694vmax;
  border-radius: 20px;
  background: #ebf4ff;
  color: #1479ff;
  cursor: pointer;
}
.all-doctors {
  display: flex;
  flex-shrink: 0;
  width: 38.194vmax;

  /* height: 15.988vmax; */
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.all-2-doctors{
  display: flex;
  flex-shrink: 0;
  

  /* height: 15.988vmax; */
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.all-hospitals {
  display: flex;
  flex-shrink: 0;
  width: 38.194vmax;
  /* height: 15.988vmax; */
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.all-categories {
  display: flex;
  flex-shrink: 0;

  /* height: 15.988vmax; */
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.doc-details {
  display: flex;
  flex-direction: column;
  gap: 0.3vmax;
}
.doc-name {
  color: #000;
  font-family: "Open Sans";
  font-size: 1.806vmax;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.doc-category {
  color: #7f7f7f;
  font-family: "Open Sans";
  font-size: 0.794vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.doc-description {
  color: #7f7f7f;
  font-family: "Open Sans";
  font-size: 0.833vmax;
  /* width: 20.194vmax; */
  /* width: 38.194vmax; */

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* overflow-y: scroll; */
}
.patient-login-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 100vh;
  width: 100%;
}
.patient-login-body {
  flex: 1;
  display: flex;
}
.form-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.doc-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vmax;
  /* border: 1px solid gray; */
  border-radius: 23px;
  box-shadow: 0px 4px 43.9px rgba(0, 0, 0, 0.25);
  /* height: 40vmax; */
  overflow: hidden;
}

.curvy {
  background-color: #1479ff;
  background-color: #3182ce;
  width: 100%;
  height: 7vmax;
  border-radius: 50% 50% 50% 50% / 0% 0% 80% 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}
.get-started {
  font-family: "Franklin Gothic Medium";
  font-weight: 400;
  color: #fff;
  font-size: 2.083vmax;
  text-align: center;
}
.doc-signup {
  font-family: "Franklin Gothic Medium";
  font-size: 0.764vmax;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  padding: 1.5vmax 4.5vmax;

  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */

  gap: 2vmin;
}
.doc-form-login {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2vmax;
  padding: 5vmin 4.5vmax;
}
.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5vmin;
}
.uploading {
  font-size: 1.5vmin;
  margin-top: 0.5vmin;
  flex-wrap: nowrap;
}
#img {
  display: none;
}
.all-doc-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 100vh;
  width: 100%;
}
.all-doc-body {
  display: flex;
  flex: 1;
}
.all-doctors-text {
  color: #1479ff;
  font-family: "Open Sans";
  font-size: 1.8vmax;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 1.2vmax;
}
@media screen and (max-width: 780px) {
  .side-navbar {
    display: none;
  }
  .content {
    padding: 3vmax 2vmax 0 2vmax;
  }
  .all-hospitals {
    width: 100%;
  }
  .form-parent {
    /* height: 70%; */
    width: 100%;
  }
  .doc-form-container {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .form-parent {
    padding-top: 3.5vmax;
  }
}
